<html>

<head>
  <link rel="stylesheet" href="css/register.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Register</title>
</head>

<body>
  <div class="container-fluid">
    <h1 class="text-center mt-2">Register</h1>
    <div class="center">
      <form action="/register" method="POST">
        <input class="form-control w-100 mt-5" type="text" name="email" placeholder="Masukkan email">
        <input class="form-control w-100 mt-2" type="text" name="password" placeholder="Masukkan password">
        <div class="text-center mt-2">
          <button class="btn btn-primary btn-lg">Register</button>
        </div>
      </form>
    </div>
  </div>

        <!-- Sebenarnya saya pingin bikin login dan register page yg beda Mas Didi, cuma gagal terus mas, jadi saya sementara pakai punya Mas Didi dulu ya :( -->
  <!-- <div class="main">
    <p class="sign" align="center">Register</p>
    <form class="form1" action="/register" method="POST"></form>
      <input class="un " type="text" align="center" placeholder="Email">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign Up</a>   
    </div> -->
</body>
</html>